
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
}

.heading {
  margin: 0;
}

#search {
  padding: 8px;
  border: none;
}

#er1 {
  display: flex;
}

.btn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #2ecc71;
  border: none;
  color: #fff;
}

#about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #about_us img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add space between image and text */
  }
  
  #about_us p {
    margin-bottom: 20px; /* Add space between paragraphs */
  }
  
  .btn2 {
    background-color: #3498db; /* Change to your preferred button color */
    color: #fff; /* Change to your preferred text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.btn2 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e74c3c;
  border: none;
  color: #fff;
  cursor: pointer;
}

#explore {
  padding: 20px;
  text-align: center;
}

.btn3 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f39c12;
  border: none;
  color: #fff;
}


.card-container {
  display: flex;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 800px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.know-more-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}
.button-container {
  
  display: flex;
  justify-content: flex-end;
  

}
footer {
    background-color:#3498db;
    padding: 20px;
  }
  
  .heading {
    color: #fff;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  nav {
    display: flex;

    justify-content: space-between;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
   
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  
  h2 {
    margin-top: 20px;
  }
  
 
footer h2
{
    color: #fff;
}
